{{ partial "head.html" . }}
{{ partial "header.html" . }}

  <main class="siteContent container">
  <h1>MRD Audio</h1>
  {{ range $index, $element := .Data.Pages }}
    {{ if eq (mod $index 2) 0 }}
      <div class="row gutter">
        <div class="column-7">
    {{ else }}
        <div class="column-7 push-2">
    {{ end }}

    {{ .Render "li" }}

    {{ if eq (mod $index 2) 0 }}
      </div>
    {{ else }}
        </div>
      </div>
    {{ end }}
  {{ end }}
  {{ if eq (mod (len .Data.Pages) 2) 1 }}
    </div>
  {{ end }}
  </main>

{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
